*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Variables*/
$margen: 200px;
$title-font: normal 24px/1.5 'Open Sans', font-weight-light;
$color: rgb(21, 121, 214);
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0,0,0, 0.2);
$texto-font: normal, 24px/1.5 'Open Sans', font-weight-light;
$color-texto: black;
$alineacion: text-right;
$margin: 50 px;
$weight: bold;
$padding: 30px;
/*Fin de las variables*/
body{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

h1 {
 	font: $title-font; /* Uso la variable*/
    color: $color;
    margin: $margen/2;
}

p {
 	font: $texto-font; /* Uso la variable*/
    color: $color-texto;
    margin: $margen/2;
    font-weight: $weight;
}

.maridaje{
    margin: $margen/4;
    padding: $padding;
}
h2{
    margin: $margen/5;
    padding: $padding;
}
.menu{
    font-size: 20px;
    font-weight: bold;
  }